* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%) ;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 6rem 0 6rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
}

.description > p {
    color: white;
}

.sign-up-section {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up-offer {
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 10px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

form {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

input {
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    border: 1px hsl(251, 5%, 53%) solid;
    padding: 10px 20px 10px 10px;
}

input:focus {
    color: hsl(249, 10%, 26%);
    border: 1px hsl(248, 32%, 49%) solid;
    outline: none;
}

.user-input {
    font-size: 0.5rem;
}

.form-group {
    position: relative;
}

.form-group > img {
    display: none;
    position: absolute;
    top: 25%;
    transform: translateX(-300%);
}

.form-group > p {
    font-style: italic;
    color: hsl(0, 100%, 74%) ;
    display: flex;
    justify-content: flex-end;
}

button {
    color: white;
    background-color: hsl(154, 59%, 51%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.75;
}

.disclaimer {
    text-align: center;
    font-size: 0.5rem;
    color: hsl(246, 25%, 77%);
}

span {
    color: red;
    font-weight: bold;
}

.attribution {
    padding: 2.5em;
    font-size: 11px; 
    text-align: center;
 }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (width < 1080px) {
    body {
        background-image: url("images/bg-intro-mobile.png");
        display: grid;
        grid-template-rows: 99% 1%;
        grid-template-areas: 
        "one"
        "two";
    }
    .container {
        grid-area: one;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .description {
        text-align: center;
        padding: 1.75rem;
    }

    .sign-up-section {
        padding: 1.75rem;
    }

    .sign-up-offer {
        padding: 5px 40px;
    }

    footer {
        grid-area: two;
    }
}